.Card {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.Card .Header {
    display: flex;
    justify-content: center;
}

.Card .Header .Title {
    padding: 5px;
    flex: 1;
}

.Card .Content {
    padding: 20px;
}

.Card.Red .Header {
    color: #FFF;
    background-color: #c62828;
}

.Card.Red .Content {
    color: #FFF;
    background-color: #cf4336;
}

.Card.Green .Header {
    color: #FFF;
    background-color: #2e7d32;
}

.Card.Green .Content {
    color: #FFF;
    background-color: #4caf50;
}

.Card.Blue .Header {
    color: #FFF;
    background-color: #1565c0;
}

.Card.Blue .Content {
    color: #FFF;
    background-color: #2196f3;
}

.Card.Purple .Header {
    color: #FFF;
    background-color: #6a1bb0;
}

.Card.Purple .Content {
    color: #FFF;
    background-color: #9c27b0;
}