.Card {
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid;
    margin: 10px;

    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.Card .Title {
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.Card .Content {
    flex-grow: 1;
    background-color: #FFF;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
